<!doctype html>
<html lang="en" ng-app="Twitter">
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel='stylesheet' href='/stylesheets/StreamList.css' />
		<link rel="icon" type="image/png" href="images/peek-sqr.png">
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-resource.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-sanitize.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
		<script src="//platform.twitter.com/widgets.js"></script>
		<script src="/javascripts/StreamList.js"></script>
		<script>
			<!-- Google Analytics Code -->
		</script>
	</head>
	<body>
		<div id="wrap">
			 <div ng-controller="StreamList">
				<nav class="navbar  navbar-inverse navbar-fixed-top ">
					<button type="button"  style="display: block; width: 100%;" class="btn navbar-btn btn-info" ng-click="getStreams()">Peek!</button>
				</nav>
				<div class="clearfix">
					<div class="col-lg-12">
						<div id="stream-list"  ng-show="loaded">
						 	<div ng-repeat="stream in streamsResult" class="stream-item">
							 	<div ng-bind-html="stream.oEmbed.html"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<p class="text-muted"> <img class="peek-small" src="images/peek.png" /> Random Peek</p>
				</div>
			</footer>
		</div>
	</body>
</html>